NET "sda" LOC = B28;
NET "scl" LOC = C24;
NET "scl" IOSTANDARD = LVCMOS33;
NET "sda" IOSTANDARD = LVCMOS33;
NET "sda" PULLUP;
NET "scl" DRIVE = 4;
NET "sda" DRIVE = 4;
NET "scl" SLEW = SLOW;
NET "sda" SLEW = SLOW;

NET "sda_gnd" LOC = A28;
NET "scl_gnd" LOC = B24;
NET "sda_gnd" IOSTANDARD = LVCMOS33;
NET "scl_gnd" IOSTANDARD = LVCMOS33;

NET "clk_p" LOC = AD12;
NET "clk_n" LOC = AD11;
NET "clk_p" IOSTANDARD = LVDS;
NET "clk_n" IOSTANDARD = LVDS;

NET "rst" LOC = G12;
NET "rst" IOSTANDARD = LVCMOS25;

NET "resetL" IOSTANDARD = LVCMOS33;
NET "laserEn" IOSTANDARD = LVCMOS33;
NET "pgood25" IOSTANDARD = LVCMOS33;
NET "pgood25" LOC = C25; #reset_l
NET "resetL" LOC = D26; #int_l
NET "laserEn" LOC = B25; #lpmode

# PlanAhead Generated physical constraints 

NET "led0" LOC = AB8;
NET "led0" IOSTANDARD = LVCMOS15;
NET "led1" LOC = AA8;
NET "led1" IOSTANDARD = LVCMOS15;
NET "led2" LOC = AC9;
NET "led2" IOSTANDARD = LVCMOS15;
NET "led3" LOC = AB9;
NET "led3" IOSTANDARD = LVCMOS15;
NET "led4" LOC = AE26;
NET "led4" IOSTANDARD = LVCMOS25;
NET "led5" LOC = G19;
NET "led5" IOSTANDARD = LVCMOS25;
NET "led6" LOC = E18;
NET "led6" IOSTANDARD = LVCMOS25;
NET "led7" LOC = F16;
NET "led7" IOSTANDARD = LVCMOS25;
